#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.promptInput{
  width: 60%;
  padding: 0.5em;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.promptInput::placeholder {
  color: #aaa;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit:contain;
  
}

.newImage {
  max-width: 23%;
  border-radius: 15px;
  padding: 5px;
}

.newImage:hover {
  cursor: pointer;
}

h2 {
  color: rgb(250, 249, 246);
}

.appBody { 
	font-family: segoe-ui_normal,Segoe UI,Segoe,Segoe WP,Helvetica Neue,Helvetica,sans-serif;
	display: grid;
	grid-template-areas: 
    "header header header"
    "section section aside"
    "footer footer footer";
	grid-template-rows: 10% 1fr 0px;
	grid-template-columns: 80% 5% 15%;
	grid-gap: 5px;
  height: 100vh;
  margin: 10px;
}

header {
	background: #70707000;
	grid-area: header;
}

section {
	background: #ababab00;
	grid-area: section;    
}

aside {
	background: #c9c9c949;
	grid-area: aside; 
}

header, section, aside {
	padding: 5px;
}

.BuyContainer {
  position: relative;
}

.Buy {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.ShirtContainer {
  position: relative;
}

.Shirt {
  width: 225px; /* Adjust the width as needed */
  height: auto; /* Adjust the height as needed */
}

.SelectedImage {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(90%, 70%);
  width: 80px; /* Adjust the width as needed */
  height: auto; /* Adjust the height as needed */
  z-index: 1;
}